{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <h1>Question 1</h1>
    {% include 'components/question-item.html' %}
    <div class="answers ">
        {% for answer in answers%}
        {% include 'components/answer_item.html' %}
        {% endfor %}
        <div class="answer-form">
            <div class="mb-3">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label textQuestion">Your answer</label>
                    <textarea placeholder="Really,how?" class="form-control"
                              id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-send btn-primary">Submit</button>
        </div>
    </div>
{% endblock %}
