{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<h1>Profile</h1>
<div class="profile-big">
    <div class="row profile-info">
        <div class="col-2">
        </div>
        <div class="col-3 title title-big">
            <h2>Avatar:</h2>
        </div>
        <div class="col-3">
            <div class="avatar-big">
                <img src="{% static 'img/avatar-1.jpg' %}" alt="">
            </div>
        </div>
    </div>
    <div class="row profile-info">
        <div class="col-2">
        </div>
        <div class="col-3 title">
        </div>
        <div class="col-5 upload">
            <button type="button" class="btn btn-info btn-upload">Upload avatar</button>
        </div>
    </div>
    <div class="row profile-info">
        <div class="col-2">
        </div>
        <div class="col-3 title">
            <h2>login:</h2>
        </div>
        <div class="col-3">
            <div class="infol login-info">
                <input type="text" class="form-control" value="Cris Pole" required>
            </div>
        </div>
    </div>
    <div class="row profile-info">
        <div class="col-2">
        </div>
        <div class="col-3 title">
            <h2>nickname:</h2>
        </div>
        <div class="col-3">
            <div class="infol nickname-info">
                <input type="text" class="form-control" value="Cris P" required>
            </div>
        </div>
    </div>
    <div class="row profile-info">
        <div class="col-2">
        </div>
        <div class="col-3 title">
            <h2>email:</h2>
        </div>
        <div class="col-3">
            <div class="infol email-info">
                <input type="text" class="form-control" value="CrisPole@yandex.ru" required>
            </div>
        </div>
    </div>
    <div class="btn-save-profile">
        <button type="button" class="btn btn-success">Save</button>
    </div>
</div>
{%endblock%}